<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Input</title>
</head>
<body>
  <h1>Input</h1>
  <form action="/submit" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="caption"><br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>